version: "3.8"

services:
    php:
        container_name: php
        image: php:8.1-apache
        build: .
        ports:
            - "80:80"
        volumes:
            - ./:/var/www/html
            - ./docker/apache/000-default.conf:/etc/apache2/sites-available/000-default.conf
        depends_on:
            - mysql
        networks:
            - default

    mysql:
        container_name: mysql
        image: mysql:latest
        ports:
            - "3306:3306"
        volumes:
            - ./docker/db:/var/lib/mysql
        environment:
            MYSQL_DATABASE: bionexo
            MYSQL_ROOT_PASSWORD: bionexo
        networks:
            - default

networks:
    default:
        driver: bridge
